$text-color: rgb(25, 25, 211); // global

@mixin box-shadow($color) {
    box-shadow: 3px 3px 4px 1px $color;
}
@mixin make-bold($bool) {
    @if $bool == true {
        font-weight: bold;
    }
}

@mixin effect($val) {
    @if $val == danger {
        background-color: red;
    }@else if $val == alert {
        background-color: yellow;
    }@else {
        background-color: rgb(246, 250, 246);
    }
}

body {
    background-color: rgb(231, 190, 190);
    color: $text-color;
}

.display{
    display: flex;
    margin-top: 15px;
    gap: 20px;
}

.container {
    @include box-shadow(rgba(17, 17, 17, 0.5));
    width: 200px;
    height: 200px;
    background-color: aqua;
    $text-color: rgb(7, 116, 13);
    p {
        @include box-shadow(rgb(241, 99, 99));
        @include make-bold(true);
        background-color: red;
        height: 100px;
        width: 100px;
        color: $text-color;
        margin: 0;
        cursor: pointer;
        &:hover{
            background-color: black;
        }
    }
}
.container2{
    width: 200px;
    height: 100px;
    @include effect(alert)
}

@for $i from 1 through 5 {
    .text#{$i} {
        font-size: 15px * $i;
        // color: lighten(rgb(255, 0, 0),15);
        color: darken(rgb(255, 0, 0),30);
    }
}

// @extend x -> herança